
##########################################################################################
# [fullpath] - target dir for search data-i18n (use "/" for path)
##########################################################################################
dir_source = D:/Web/Nova/nonebug.com/app/views/office/


##########################################################################################
# [fullpath] - target for save filename.js files (use "/" for path)
##########################################################################################
dir_save = D:/Web/Nova/nonebug.com/public/office/i18n/


##########################################################################################
# [filename.js] - filename for save each language ([LANG] will replace by lang)
##########################################################################################
filejs = resources-locale_[LANG].js


##########################################################################################
# [true/false] - use google translate for other language (with out main_lang)
##########################################################################################
translate = true


##########################################################################################
# [lang] language with in data-i18n template
##########################################################################################
main_lang = en



##########################################################################################
# [list of lang] language for save files (line by line for add new lang)
##########################################################################################
[lang]
lang = en
lang = th